/*-----------------------------------------------------------------*/
/*------Generalizador de Propiedades a menores de 700px------------*/
/*-----------------------------------------------------------------*/
@media (250px <= width <= 700px) {
    /*------Base------*/
    header{
        flex-direction: column;
        text-align: center;
    }
    footer{
        font-size: small;
    }
    nav a:hover{
        outline: none;
    }
    
    .logo_principal{
        width: 25%;
        margin-top: 5%;
    }
    /*----Pagina Inicio----*/
    .titular_empresa{
        font-size: xx-small;
    }
    .descripcion{
        font-size: xx-small;
    }
    /*----Catalogo----*/
    .categorias{
        grid-template-columns: auto auto;
    }
    h3{
        font-size: medium;
    }
    .productos{
        margin: .25rem;
        text-align: center;
        border: .15rem solid #6f6f6f;
        border-radius: .5rem;
    }
    .img_productos{
        margin-top: 1rem;
        object-fit:contain;
        width: 6rem;
        height: 5rem;
    }
}