/*------Generalizador de Propiedades a menores de 700px------------*/
@media (min-width: 250px) and (max-width: 700px) {
    /*------Base------*/
    header {
        flex-direction: column;
        text-align: center;
    }
    footer {
        font-size: small;
    }
    nav a:hover {
        outline: none;
    }
    .logo_principal {
        width: 25%;
        margin-top: 5%;
    }

    /*----Pagina Inicio----*/
    .titular_empresa {
        font-size: xx-small;
    }
    .descripcion {
        font-size: xx-small;
    }
    /*----Catalogo----*/
    .categorias {
        grid-template-columns: auto auto;
    }
    h3 {
        font-size: medium;
    }
    .productos {
        margin: 0.25rem;
        text-align: center;
        border: 0.15rem solid #6f6f6f;
        border-radius: 0.5rem;
    }
    .img_productos {
        margin-top: 1rem;
        object-fit: contain;
        width: 6rem;
        height: 5rem;
    }

    /*-----Basculas----*/
    .boxINFO,
    .formulario {
        width: 85%;
    }
    .inputs,
    .input_textarea {
        width: 95%;
    }
    .boton {
        width: 40%;
        height: 40px;
        margin-left: 32%;
    }
    .social{
        max-width: 45px;
    }
}
