
@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .nav-toggle-label {
        display: flex;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .nav-toggle ~ nav {
        display: none;
    }

    .nav-toggle:checked ~ nav {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #333;
    }

    nav ul {
        flex-direction: column;
        padding: 1rem;
    }

    nav li {
        text-align: center;
        padding: 0.5rem 0;
    }

    
}

/*-------------------------------------------------*/