

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.enlaces{
    color: white;
    text-decoration: none;
}

.enlaces:hover{
    color: red;
}

@media (max-width: 992px) {
    .product-container {
        grid-template-columns: 1fr;
    }

    .zoom-window {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .nav-toggle-label {
        display: flex;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .nav-toggle ~ nav {
        display: none;
    }

    .nav-toggle:checked ~ nav {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #333;
    }

    nav ul {
        flex-direction: column;
        padding: 1rem;
    }

    nav li {
        text-align: center;
        padding: 0.5rem 0;
    }

    .product-container{
        margin-top: 6rem;
        margin-left: -1rem;
    }

    .videos{
        width: 225px;
        height: 225px;
        margin-left: -.5rem;
    }
}

/*-------------------------------------------------*/