/*-----------Base del proyecto-----------------*/
body {
    margin: 0;
    padding: 0;
    content-visibility: auto;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #ffffff;
}
.controlador {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
header {
    width: 100%;
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    background: linear-gradient(black, #6f6f6f);
    align-items: center;
}
nav a:hover {
    color: rgb(255, 59, 59);
    outline-style: groove;
    border-radius: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: rgb(255, 59, 59);
}
/* Footer y componentes internos del footer */
footer {
    width: 100%;
    height: auto;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#6f6f6f, black);
    text-align: center;
}
.primer_listado {
    display: inline-block;
    list-style: none;
    margin-top: 0.5rem;
    padding: 0.5rem;
}
.favicon {
    width: 1rem;
    height: 1rem;
}
.info {
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------------------*/
/*----Para controlar los textos no accesibles*//*--------------Header-----------------------*/
.informacion {
    text-align: center;
    color: white;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1rem;
}
.logo_principal {
    width: 25%;
}
.control {
    display: flex;
    align-items: center;
}
.nombre_empresa {
    color: white;
    text-decoration: none;
}
.nombre_empresa:hover {
    color: rgb(255, 59, 59);
    outline-style: solid;
    outline-offset: 0.5rem;
    outline-color: rgb(255, 59, 59);
    border-radius: 0.5rem;
}
.enlace {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}
/*--------------Carrusel---------------------------*/
#inicio_principal {
    display: block;
}
/*-------Carrucel de presentacion-----------------*/
#carrusel-caja {
    animation: automatizacion 15s infinite linear;
    transition: all 0.60s ease;
    height: 35rem;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow-x: hidden;
}
.imagenes {
    height: 35rem;
    width: 100%;
    object-fit: cover;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0%, 30% { margin-left: 0; }
    35%, 65% { margin-left: -100%; }
    70%, 95% { margin-left: -200%; }
    100% { margin-left: 0; }
}
@-webkit-keyframes automatizacion {
    0%, 30% { margin-left: 0; }
    35%, 65% { margin-left: -100%; }
    70%, 95% { margin-left: -200%; }
    100% { margin-left: 0; }
}
@keyframes automatizacion {
    0%, 30% { margin-left: 0; }
    35%, 65% { margin-left: -100%; }
    70%, 95% { margin-left: -200%; }
    100% { margin-left: 0; }
}
/*----------------------------------------------------------------*/
/*-----------Texto flotante y descripciones------------------*/
.titular {
    text-align: center;
}
.titular_empresa {
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.9rem;
    font-weight: 500;
    position: absolute;
    width: 70%;
    margin: -20% 25% 15% 15%;
}
.descripcion {
    text-wrap: balance;
    font-style: italic;
    font-weight: 500;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #6f6f6f;
    border-radius: 0.9rem;
    background-color: #bababa;
}
.descripcion:hover {
    -webkit-box-shadow: 0px 5px 20px 2px rgba(255, 59, 59, 1);
    -moz-box-shadow: 0px 5px 20px 2px rgba(255, 59, 59, 1);
    box-shadow: 0px 5px 20px 2px rgba(255, 59, 59, 1);
}
/*----------------------------Catalogo----------------------------*/
#cat_principal,
#cat_ganaderas,
#cat_camionera,
#garantia,
#contacto {
    display: none;
}
.categorias,
.categorias_ganado,
.categorias_camionera {
    display: grid;
    padding: 0.5rem;
}
.categorias {
    grid-template-columns: repeat(5, auto);
}
.categorias_ganado,
.categorias_camionera {
    grid-template-columns: repeat(2, auto);
}
.cat_enlace {
    color: black;
    text-decoration: none;
}
.cat_enlace:hover {
    color: red;
}
.productos {
    height: 30dvh;
    margin: 0.25rem;
    text-align: center;
    border: 0.15rem solid #6f6f6f;
    border-radius: 0.5rem;
}
.sub_productos{
    height: 60dvh;
    margin: 0.25rem;
    text-align: center;
    border: 0.15rem solid #6f6f6f;
    border-radius: 0.5rem;
}
.productos:hover {
    border-color: rgb(255, 59, 59);
    color: rgb(255, 59, 59);
    -webkit-box-shadow: 0px 5px 20px 2px rgba(255, 59, 59, 1);
    -moz-box-shadow: 0px 5px 20px 2px rgba(255, 59, 59, 1);
    box-shadow: 0px 5px 20px 2px rgba(255, 59, 59, 1);
}
.img_productos {
    margin-top: 1rem;
    object-fit: contain;
    max-width: 80%;
    height: 50%;
}
.img_subproductos {
    margin-top: 1rem;
    object-fit: contain;
    max-width: 60%;
    height: 80%;
}
/*----------------------------Basculas----------------------------*/
/*-------------Vinculadores de pagina-----------------------------*/
#industrial-im,
#comercial-im,
#dosificadora-im,
#barra_ganadera-im,
#bascula_ganadera-im,
#camionera_ejes-im,
#camionera_completa-im,
#indicadores-im,
#celdas-im,
#ensacadoras-im,
#software-im,
#accesorios-im{
    display: none;
    grid-template-columns: auto;
    place-items: center;
}
/*---------------------------------------------------------------*/
.boxINFO {
    text-wrap: stable;
    width: 48%;
}
.descripcionbasculas {
    text-align: justify;
    font-style: italic;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #6f6f6f;
    border-radius: 0.5rem;
    background-color: #bababa;
    justify-content: center;
}
@-moz-keyframes automatizacion{
    0%, 30% { margin-left: 0; }
    35%, 65% { margin-left: -100%; }
    70%, 95% { margin-left: -200%; }
    100% { margin-left: 0; }
}
@-webkit-keyframes automatizacion{
    0%, 30% { margin-left: 0; }
    35%, 65% { margin-left: -100%; }
    70%, 95% { margin-left: -200%; }
    100% { margin-left: 0; }
}
@keyframes automatizacion {
    0%, 30% { margin-left: 0; }
    35%, 65% { margin-left: -100%; }
    70%, 95% { margin-left: -200%; }
    100% { margin-left: 0; }
}
/*----------------------------------------------------------------*/
/*---------------------------Formularios--------------------------*/
.formulario, .formulario_bascula{
    width: 45%;
    background-color: rgba(111, 111, 111, 0.5);
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 0.9rem;
}
fieldset {
    border: none;
}
.label_form {
    font-weight: bold;
}
.inputs {
    width: 25rem;
    height: 2rem;
    border-radius: 0.7rem;
    border: none;
    float: right;
}
.input_textarea {
    width: 25.1rem;
    height: 2.5rem;
    float: right;
    field-sizing: content;
    border-radius: 0.7rem;
    resize: none;
}
.boton {
    margin-left: 42%;
    margin-bottom: 1rem;
    background: black;
    width: 120px;
    height: 40px;
    padding: 1rem 1rem 2rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: azure;
    position: relative;
    border-radius: 0.5rem;
}
.boton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, white, blue, white, red, white, blue, white);
    background-size: 1000%;
    border-radius: 1rem;
    filter: blur(1rem);
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/*----------------------------------Garantia--------------------------*/
.slides {
    height: 50vh;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin-left: 10%;
    margin-bottom: 1rem;
    box-shadow: rgba(255, 96, 96, 0.45) 0px 5px 15px;
}
.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}
.slide-2 {
    animation-delay: 4s;
}
.slide-3 {
    animation-delay: 8s;
}
.slide-4 {
    animation-delay: 10s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@keyframes slide-show {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20%, 30% {
        opacity: 1;
        transform: scale(1.03);
    }
    50% {
        opacity: 0;
    }
}
/*-------------------------------------------SOCIALES------------------------------------------------*/
.social{
    padding: 1rem;
    margin-left: 15%;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
}
.bloque-social{
    margin-left: 5%;
}
.redes{
    display: grid;
    grid-column: 2;
    gap: 5px;
    justify-content: center;
}
/*--------------------------------------------------*/
/*----------------------Nueva Galeria---------------*/
/*--------------------------------------------------*/
