/*---------------Para resoluciones > 1101px-----------*/
@media (min-width: 1101px) {
    .titular_empresa {
        margin: -22% 20% 10% 14%;
    }
}
/*--------Resoluciones desde 901px a 1100px------------*/
@media (min-width: 901px) and (max-width: 1100px) {
    .titular_empresa {
        margin: -32% 20% 10% 12%;
    }
    .formulario {
        width: 85%;
    }
    .boxINFO{
        margin: 10%;
    }
    h3{
        font-size: medium;
    }
    .inputs, .input_textarea {
        width: 95%;
    }
    .boton {
        width: 100px;
        height: 40px;
        margin-left: 45%;
    }
}
/*--------Resoluciones de 701px a 900px----------------*/
@media (min-width: 701px) and (max-width: 900px) {
    .titular_empresa {
        margin: -45% 20% 10% 12%;
    }
    .boxINFO, .formulario {
        width: 85%;
    }
    .inputs, .input_textarea {
        width: 95%;
    }
    h3{
        font-size: small;
    }
    nav a:hover {
        outline: none;
    }
    .sub_productos{
        height: 50dvh;
    }
    .img_subproductos {
        max-width: 70%;
        height: 75%;
    }
    .boton {
        width: 100px;
        height: 40px;
        margin-left: 30%;
    }
    .galeria {
        max-width: 90%;
        min-height: 40vh;
    }
    .original-image {
        max-width: 100;
        max-height: auto;
    }
    .zoom-view {
        display: none;
    }
}
/*----------Resoluciones de 601px a 700px--------------*/
@media (min-width: 601px) and (max-width: 700px) {
    #carrusel-caja, .imagenes {
        height: 20rem;
    }
    .titular_empresa {
        margin: -30% 20% 10% 12%;
    }
    .sub_productos{
        height: 50dvh;
    }
    .img_subproductos {
        margin-top: 2rem;
        max-width: 70%;
        height: 60%;
    }
    .galeria {
        max-width: 90%;
        min-height: 40vh;
    }
    .original-image {
        max-width: 100;
        max-height: auto;
    }
    .zoom-view {
        display: none;
    }
}
/*------Resoluciones de 451px a 600px-----*/
@media (min-width: 451px) and (max-width: 600px) {
    .header_basculas .control{
        font-size: small;
        margin-left: -50%;
    }
    .header_basculas nav{
        margin-left: -40%;
    }
    #carrusel-caja, .imagenes {
        height: 21rem;
    }
    .titular_empresa {
        margin: -45% 20% 10% 12%;
    }
    .sub_productos{
        height: 50dvh;
    }
    .img_subproductos {
        max-width: 80%;
        height: 70%;
    }
    /*------0.0-------*/
    .titular_producto_p{
        font-size: 25px;
        margin-left: -35%;
    }
    .galeria{
        width: 50%;
        margin: auto auto auto 2%;
    }
    .thumbnail-container{
        width: 80%;
    }
    .main-view{
        max-width: 80%;
    }
    .original-image img{
        width: 50%;
    }
    .zoom-view{
        display: none;
    }
    .boxINFO, .formulario_bascula{
       max-width: 60%;
    }
    .boxINFO{
        margin: auto auto 1rem 5%;
    }
    .formulario_bascula{
        margin: auto auto 1rem 10%;
    }
    .formulario_bascula h3{
        font-size: small;
        margin-left: 10px;
    }
    .footer_basculas{
        display:grid;
        grid-column: 1fr;
        font-size: 10px;
    }
    .footer_basculas .informacion{
        margin-left: -35%;
    }
    .footer_basculas .favicon{
        display: none;
    }
    .footer_basculas .info{
        font-size: xx-small;
        width: 60%;
    }
}
/*---Resoluciones de 330px a 450px------*/
@media (min-width: 330px) and (max-width: 450px) {
    .header_basculas{
        font-size: 10px;
        margin-left: -15%;
    }
    #carrusel-caja, .imagenes {
        height: 22rem;
    }
    .titular_empresa {
        font-size: 0.7rem;
        margin: -72% 20% 10% 12%;
    }
    .boton {
        font-size: x-small;
    }
/*--------------------------------------------------------*/
    .titular_producto_p{
        font-size: 20px;
        margin-left: -35%;
    }
    .galeria{
        width: 50%;
        margin: auto auto auto 5%;
    }
    .thumbnail-container{
        width: 70%;
    }
    .main-view{
        max-width: 80%;
    }
    .original-image img{
        width: 50%;
    }
    .zoom-view{
        display: none;
    }
    .boxINFO, .formulario_bascula{
       max-width: 60%;
    }
    .boxINFO{
        margin: auto auto 1rem 5%;
    }
    .formulario_bascula{
        margin: auto auto 1rem 10%;
    }
    .formulario_bascula h3{
        font-size: small;
        margin-left: 10px;
    }
    .footer_basculas{
        display:grid;
        grid-column: 1fr;
        font-size: 10px;
    }
    .footer_basculas .informacion{
        margin-left: -35%;
    }
    .footer_basculas .favicon{
        display: none;
    }
    .footer_basculas .info{
        font-size: xx-small;
        width: 60%;
    }
}

/*---Resoluciones menores de 329px-------*/
@media (min-width: 250px) and (max-width: 329px) {
    header {
        font-size: small;
    }
    .nombre_empresa:hover {
        outline-offset: 0.1rem;
        border-radius: 0.3rem;
    }
    .logo_principal {
        width: 25%;
        margin-top: 5%;
    }
    #carrusel-caja, .imagenes {
        height: 23rem;
    }
    .titular_empresa {
        margin: -95% 20% 10% 12%;
    }
    .sub_productos{
        height: 40dvh;
    }
    .img_subproductos {
        max-width: 80%;
        height: 40%;
    }
    .boton {
        padding-left: 10%;
        font-size: xx-small;
    }
    .bloque-social{
        margin-left: -1.5rem;
    }
    .social{
        max-width: 100%;
        margin-left: 10%;
    }

    .formulario{
        max-width: 60%;
    }
    .titular_producto_p{
        font-size: 25px;
        margin-left: -35%;
    }
    .galeria{
        width: 50%;
        margin: auto auto auto 2%;
    }
    .thumbnail-container{
        width: 80%;
    }
    .main-view{
        max-width: 80%;
    }
    .original-image img{
        width: 50%;
    }
    .zoom-view{
        display: none;
    }
    .boxINFO, .formulario_bascula{
       max-width: 60%;
    }
    .boxINFO{
        margin: auto auto 1rem 5%;
    }
    .formulario_bascula{
        margin: auto auto 1rem 10%;
    }
    .formulario_bascula h3{
        font-size: small;
        margin-left: 10px;
    }
    .footer_basculas{
        display:grid;
        grid-column: 1fr;
        font-size: 10px;
    }
    .footer_basculas .informacion{
        margin-left: -35%;
    }
    .footer_basculas .favicon{
        display: none;
    }
    .footer_basculas .info{
        font-size: xx-small;
        width: 60%;
    }
}
/*-----Solo en emergencia-----*/
@media (max-width: 249px) {
    header {
        flex-direction: column;
        font-size: xx-small;
        text-align: center;
    }
    nav a:hover{
        outline-style: none;
    }

    footer {
        font-size: xx-small;
    }
    .nombre_empresa:hover {
        outline-offset: 0.1rem;
        border-radius: 0.3rem;
    }
    .logo_principal {
        width: 25%;
        margin-top: 5%;
    }
    #carrusel-caja, .imagenes {
        height: 23rem;
    }
    .titular_empresa {
        font-size: xx-small;
        margin: -150% 20% 10% 12%;
    }
    .descripcion {
        font-size: xx-small;
    }
    .categorias {
        grid-template-columns: auto;
    }
    h3 {
        font-size: small;
    }
    .titular {
        font-size: medium;
    }
    .img_productos {
        margin-top: 1rem;
        object-fit: contain;
        width: 6rem;
        height: 5rem;
    }
    .sub_productos{
        height: 40dvh;
    }
    .img_subproductos {
        max-width: 80%;
        height: 40%;
    }
    .boxINFO, .formulario {
        width: 85%;
    }
    .inputs, .input_textarea {
        width: 95%;
    }
    .boton {
        width: 40%;
        height: 20px;
        margin-left: 32%;
        padding-left: 7%;
        font-size: xx-small;
    }
    .social{
        max-width: 15%;
        margin-left: 10%;
    }

    .galeria, .boxINFO{
        max-width: 50%;
    }
}