/*---------------Para resoluciones > 1101x-----------*/
@media (width > 1101px) {
    .titular_empresa{
        margin:-22% 20% 10% 14%;
    }
}
/*--------Resoluciones desde 901px a 1100px------------*/
@media (901px <= width <=1100px) {
    .titular_empresa{
        margin:-32% 20% 10% 12%;
    }
    .carrusel-caja_BG {
        height: 20rem;
    }
    .carrusel-contenido_BG {
        width: 85%;
    }
    .imagenesBG{
        object-fit:contain;
        height: 20rem;
    }
    .boxINFO{
        text-wrap:balance;
        width:90%;
    }
    .formulario{
        width: 85%;
    }
    .inputs{
        width: 95%;
    }
    .input_textarea{
        width: 95%;
    }
    .boton{
        width: 100px;
        height: 40px;
        margin-left: 38%;
    }
}
/*--------Resoluciones de 701px a 900px----------------*/
@media (701px <= width <= 900px) {
    .titular_empresa{
        margin:-38% 20% 10% 12%;
    }
    /*----Basculas----*/
    .carrusel-caja_BG {
        height: 20rem;
    }
    .carrusel-contenido_BG {
        width: 85%;
    }
    .imagenesBG{
        object-fit:contain;
        height: 20rem;
    }
    .boxINFO{
        text-wrap:stable;
        width:90%;
    }
    .formulario{
        width: 80%;
    }
    .inputs{
        width: 95%;
    }
    .input_textarea{
        width: 95%;
    }
    .boton{
        width: 100px;
        height: 40px;
        margin-left: 37%;
    }
}
/*----------Resoluciones de 601px a 700px--------------*/
@media (601px <= width <= 700px) {
    /*--Pagina Inicio--*/
    #carrusel-caja {
        height: 20rem;
    }
    .imagenes{
        height: 20rem;
    }
    .titular_empresa{
        margin:-30% 20% 10% 12%;
    }
}   
/*------Resoluciones de 451px a 600px-----*/
@media (451px <= width <= 600px) {
    /*----Pagina Inicio----*/
    #carrusel-caja {
        height: 21rem;
    }
    .imagenes{
        height: 21rem;
    }
    .titular_empresa{
        margin:-35% 20% 10% 12%;
    }
}
/*---Resoluciones de 330px a 450px------*/
@media (330px <= width <= 450px) { 
    header{
        font-size: small;
    }
    /*----Pagina Inicio----*/
    #carrusel-caja {
        height: 22rem;
    }
    .imagenes{
        height: 22rem;
    }
    .titular_empresa{
        font-size: 0.7rem;
        margin: -72% 20% 10% 12%;
    }
    .boton{
        font-size: x-small;
    }
}
/*---Resoluciones menores de 329px-------*/
@media (250px <= width <=329px) {
    header{
        font-size: small;
    }
    .nombre_empresa:hover{
        outline-offset: 0.1rem;
        border-radius: .3rem;
    }
    .logo_principal{
        width: 25%;
        margin-top: 5%;
    }
    /*----Pagina Inicio----*/
    #carrusel-caja {
        height: 23rem;
    }
    .imagenes{
        height: 23rem;
    }
    .titular_empresa{
        margin:-105% 20% 10% 12%;
    }
    .boton{
        padding-left: 10%;
        font-size: xx-small;
    }
}
/*-----Solo en emergencia-----*/
@media (width <= 249px) {
    /*------Base------*/
    header{
        flex-direction: column;
        font-size: xx-small;
        text-align: center;
    }
    footer{
        font-size: xx-small;
    }

    .nombre_empresa:hover{
        outline-offset: 0.1rem;
        border-radius: .3rem;
    }

    .logo_principal{
        width: 25%;
        margin-top: 5%;
    }
    
    /*----Pagina Inicio----*/
    #carrusel-caja {
        height: 23rem;
    }
    .imagenes{
        height: 23rem;
    }
    .titular_empresa{
        font-size: xx-small;
        margin:-125% 20% 10% 12%;
    }
    .descripcion{
        font-size: xx-small;
    }
    /*------Catalogo-------*/
    .categorias{
        grid-template-columns: auto;
    }

    h3{
        font-size: small;
    }
    
    .titular{
        font-size: medium;
    }
    
    .img_productos{
        margin-top: 1rem;
        object-fit:contain;
        width: 6rem;
        height: 5rem;
    }
    /*----Basculas---*/
    .carrusel-caja_BG {
        height: 20rem;
    }
    .carrusel-contenido_BG {
        width: 85%;
    }
    .imagenesBG{
        object-fit:cover;
        height: 20rem;
    }
    .boxINFO{
        text-wrap:balance;
        width:90%;
    }
    .formulario{
        width: 80%;
    }
    .inputs{
        width: 95%;
    }
    .input_textarea{
        width: 95%;
    }
    .boton{
        width: 40%;
        height: 20px;
        margin-left: 32%;
        padding-left: 7%;
        font-size: xx-small;
    }

}
